@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0d10;
  --fg: #e8eef2;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background: var(--bg);
}

a {
  text-decoration: none;
}
